set ignorecase smartcase
set incsearch hlsearch
set visualbell showcmd showmode
set timeout timeoutlen=512
set ideaglobalmode ideajoin ideamarks
set ideastatusicon=gray ideawrite=file
" or :actionlist [pattern]
nmap <Space>f <Action>(GotoFile)
nmap <Space>F viw:action GotoFile<CR>
nmap <Space>e <Action>(ShowNavBar)
nmap <Space>b <Action>(RecentFiles)
nmap <Space>g <Action>(FindInPath)
vmap <Space>g <Action>(FindInPath)
nmap <Space>G viw:action FindInPath<CR>
nmap <Space>/ <Action>(SearchEverywhere)
nmap - <Action>(SelectInProjectView)
" copy to system clipboard
nmap <Space>y "+y
vmap <Space>y "+y
nmap <Space>p "+p
nmap <Space>P "+P
vmap <Space>p "+p
" code navigation
nmap gd <Action>(GotoDeclaration)
nmap gq <Action>(ReformatCode)
vmap gq <Action>(ReformatCode)
nmap gi <Action>(GotoImplementation)
nmap gs <Action>(GotoSuperMethod)
nmap gr <Action>(FindUsages)
nmap gu <Action>(ShowUsages)
nmap K <Action>(ShowHoverInfo)
nmap ]d <Action>(GotoNextError)zz
nmap [d <Action>(GotoPreviousError)zz
nmap <C-w>d <Action>(ShowHoverInfo)
nmap <C-w>o <Action>(HideAllWindows)
nmap <C-w>a <Action>(GotoAction)
vmap <C-w>a <Action>(GotoAction)
" tool actions
nmap <Space>r <Action>(RunClass)
nmap <Space>c <Action>(copilot.chat.show)
vmap <Space>c <Action>(copilot.chat.show)
